include *.txt
include MANIFEST
include tox.ini
include *.md
recursive-include examples *.py
recursive-include docs *.bat
recursive-include docs *.html
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
prune docs/build
recursive-include tests *.py
